@import url('./reset.css');

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #000;
    text-align: center;
    color: #fff;
    overflow-x: hidden;
}

.banner {
    display: inherit;
    flex-direction: inherit;
    justify-content: center;
    align-items: inherit;
    width: 100vw;
    height: 37.8rem;
    background: linear-gradient(
            rgba(0, 0, 0, .6),
            rgba(49, 168, 221, .2),
            rgba(0, 0, 0, .6)),
            url('../assets/images/banner.webp');
    background-size: cover;
    background-position: center center;
    border-bottom: 1px solid #33a8dB;
}

.banner-content {
    display: inherit;
    flex-direction: inherit;
    justify-content: space-around;
    width: 25rem;
    height: 24.5rem;
}

.banner-content img {
    width: 15.5rem;
    height: 13.3rem;
}

.banner-content h1 {
    font-weight: 900;
    text-transform: uppercase;
    color: transparent;
    background: linear-gradient(180deg, #33A8DB 0%, #1472B7 100%);
    background-clip: text;
    -webkit-background-clip: text;
}

.banner-content p {
    font-size: 1.25rem;
}

.banner button {
    margin-top: 1.5rem;
    padding: 1.1rem 3.1rem;
    font-size: 1rem;
    font-weight: 900;
    letter-spacing: 0.21em;
    text-transform: uppercase;
    background-color: transparent;
    color: #31a8dd;
    border: 2px solid;
    border-image: linear-gradient(#3ba1cd, #1572b7);
    border-image-slice: 1;
    cursor: pointer;
}

main {
    display: inherit;
    flex-direction: inherit;
    align-items: inherit;
}

#course-content {
    display: inherit;
    flex-direction: inherit;
    align-items: inherit;
    width: 22rem;
    padding: 7.3rem 0;
}

h2 {
    color: #33a8dB;
    text-transform: uppercase;
    font-size: 1.8rem;
}

#course-content p,
.module {
    margin-top: 1.5rem;
}

.module {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 23.7rem;
    height: 3.1rem;
    background-color: #252525;
    border-radius: 3.5rem;
    border: 1px solid #33a8dB;
    box-shadow: -2px 6px 4px 0px rgba(0, 0, 0, 0.4) inset;
}

.module span {
    color: #33a8dB;
}

#transform-world {
    position: relative;
    width: 100vw;
    height: 22.6rem;
    background-image: url('../assets/images/woman-code.webp');
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    background-repeat: no-repeat;
    border-bottom: 1px solid #33a8dB;
    border-top: 1px solid #33a8dB;
}

#transform-world p {
    position: absolute;
    top: 60%;
    left: 51%;
    transform: translateX(-50%);
    width: 90%;
    font-size: 2.5rem;
    font-weight: 900;
    text-align: left;
    text-transform: lowercase;
    filter: drop-shadow(3px 2px #33a8db);
}

#professional-challenges {
    display: inherit;
    flex-direction: inherit;
    margin: 4.7rem 0 5.6rem 0;
}

#professional-challenges img {
    width: 25rem;
    height: 16.25rem;
    margin-top: 2.5rem;
    align-self: center;
}

#professional-challenges>p {
    padding: 0 1.8rem;
    margin-top: 2.5rem;
}

footer {
    width: 100vw;
    height: 10.6rem;
    border-top: 1px solid #33a8dB;
    background: linear-gradient(180deg,
            rgba(51, 168, 219, 0) 0%,
            rgba(51, 168, 219, 0.2) 99.99%,
            rgba(51, 168, 219, 0.2) 100%)
}

.dio-logo {
    margin-top: 3.6rem;
    width: 19.3rem;
    height: 2.7rem;
}

footer p {
    margin-top: 0.6rem;
}

footer a {
    text-decoration: none;
    color: #33a8db;
    font-weight: bold;
}

@media screen and (min-width: 48em) {
    .banner-content {
        width: 32.1rem;
    }

    .banner-content h1 {
        font-size: 2.5rem;
    }

    .banner button {
        padding: 1.1rem 5.6rem;
    }

    #course-content {
        width: 49.5rem;
    }

    #course-content h2 {
        font-size: 2rem;
    }

    .module {
        width: 33.4rem;
    }

    #transform-world {
        background-attachment: fixed;
    }

    #transform-world p {
        top: 50%;
        left: 13.7%;
        width: 15.2rem;
        transform: translateY(-50%);
    }

    #professional-challenges img {
        width: initial;
        height: initial;
    }

    #professional-challenges p {
        width: 47.6rem;
    }
}